@media print {
    #HTMLPort {
        display: block !important;
        gap: 0 !important;
    }

    #controlAddIn {
        display: block !important;
        background: none !important;
        padding: 0 !important;
        gap: 0 !important;
    }

    #controlAddIn {
        overflow: visible !important;
    }

    .report {
        gap: 0 !important;
    }

    .root {
        background: none !important;
        box-shadow: none !important;
        margin: 0 auto !important;
    }
}

* {
    margin: 0;
    padding: 0;
}

#HTMLPort {
    align-items: center;
    display: flex;
    flex-flow: column;
    gap: 16px;
    width: fit-content;
    margin: 0 auto;
}

#controlAddIn
{
    overflow: scroll;
}

#controlAddIn {
    
    padding: 16px;
    background-color: #eee;
    box-sizing: border-box;
}

#settings {
    display: none;
}

.report {
    display: flex;
    flex-flow: column;
    gap: 16px;
}

.root {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px 2px #0006;
    overflow: hidden;
    box-sizing: border-box;
    page-break-inside: avoid;
}

.main {
    border-radius: 8px;
    overflow: hidden;
}

.header,
.footer,
.record,
.fixtop,
.append,
.fixbot {
    align-content: center;
    display: block;
    height: .5in;
    text-align: center;
}